@{
    ViewBag.Title = "The IFHE Hyderabad|MBA|B.Tech|BBA|B.Arch|BBA-LLB|Ph.D";
    ViewBag.MetaDescription = "IFHE Hyderabad is one of the largest multi-disciplinary universities in the country. The Faculty of Management, Faculty of Science & Technology and Faculty of Law are the three main building blocks of the university, offering UG, PG, and Doctoral programs in management, science & technology, and law.";
    ViewBag.MetaKeywords = "The ICFAI Foundation for Higher Education, Icfai University, Hyderabad, Full-time MBA in India, Full-time campus MBA, Master of Business Administration, The Ph.D. Program[Full Time], The Ph.D. Program[Part Time], BBA Program, B.Tech program, UGC, engineering program, BBA-LLB(Hons.)Program Best college and business school in India, mba rankings, Faculty of Science and technology, private university in india, bachelor and master degree courses, India, Hyderabad, Government recognized university";
}

<section class="Masterslider">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="CircleBtn active" aria-current="true" aria-label="Slide 0"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" class="CircleBtn active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" class="CircleBtn active" aria-current="true" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="~/assets/img/sliders/banner1.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/sliders/banner2.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
            <div class="carousel-item">
                <img src="~/assets/img/sliders/banner3.jpg" class="img-fluid w-100" alt=".." loading="lazy" />
            </div>
        </div>
    </div>
</section>

<section class="InfSection  sticky-top" id="#InfSection">
    <div class="container-fluid">
        <div class="row RowCustom">
            <div class="col-xl-9 col-lg-9 col-md-8 col-12">
                <div class="d-flex PipeLineSection">
                    <p>Information For : </p>
                    <ul>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Student </a> </li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Parent</a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Faculty</a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto"> Employer</a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Employee </a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Jobseeker</a></li>
                        <li><a href="/alumni" class="PipeLineAnch nav-link scrollto">Alumni</a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">Research Scholar</a></li>
                        <li><a href="" class="PipeLineAnch nav-link scrollto">PDF</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="float--end">
                    <a class="AdmissionBtn" href="/admissions/online-registration">
                        Admissions Open 2024
                        <img src="~/assets/img/ApplynowIcon.svg" alt="Admissions Open" class="img-fluid" loading="lazy" width="30" height="30" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="AccredRecog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-4 col-12 mb-3" data-aos="fade-up" data-aos-delay="200">
                <h1 class="title">
                    Recognitions &
                    Accreditations
                </h1>
                <a href="/aboutus/recognitions-accreditations" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-8 col-12">
                <div class="WrapBox4">
                    <div class="card" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/assets/img/RecongLogos/NAAC-Logo.png" class="card-img-top" alt="Accreditation by NAAC" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">Accreditation by NAAC </p>
                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/assets/img/RecongLogos/AACSB-Logo.png" class="card-img-top" alt="AACSB Accredited" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">AACSB Accredited </p>

                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                        <img src="~/assets/img/RecongLogos/UGC-Logo.png" class="card-img-top" alt="Accreditation by SAQS" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">University Grants Commission </p>
                        </div>
                    </div>
                    <div class="card" data-aos="fade-up" data-aos-delay="400">
                        <img src="~/assets/img/RecongLogos/Bar-Council-of-India-Logo.png" class="card-img-top" alt="Member of the Association of Common wealth Universities (ACU)" loading="lazy" />
                        <div class="card-body">
                            <p class="card-text">Bar Council of India </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="CampusContent">
    <div class="container-fluid" data-aos="fade-up">
        <div class="row RowCustom">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="WrapBox2">
                    <div class="ImgBox" data-aos="fade-up" data-aos-delay="200">
                        <img src="~/assets/img/campus-building.png" alt="Campus Tour" class="img-fluid" loading="lazy" width="650" height="500" />
                        <div class="CampusTourSec">
                            <span class="SpanText">
                                <img src="~/assets/svg-icons/Virtual-Tour-icon.svg" class="img-fluid" width="35" height="35" alt="ICFAI Mizoram 17.58 acres lush green campus" />
                                <a class="text-dark" href="https://www.ifheindia.org/Virtual-Campus-Tour/" target="_blank">Campus Tour</a>
                            </span>
                            <span class="SpanText">91 acres lush green campus</span>
                        </div>
                    </div>

                    <div class="ContentBox" data-aos="fade-up" data-aos-delay="400">
                        <h2 class="title">
                            The ICFAI Foundation for Higher Education, Hyderabad
                        </h2>
                        <p class="content">
                            The ICFAI Foundation for Higher Education is a deemed-to-be-University established under section 3 of UGC Act, 1956. IFHE's comprehensive student-centric learning approach provides relevant knowledge, imparts practical skills and inculcates a positive attitude among the students.
                        </p>
                        <p class="content">
                            Today, IFHE is one of the largest multi-disciplinary universities in the country. The Faculty of Management, Faculty of Science and Technology and Faculty of Law are the three main building blocks of the university.
                        </p>
                        <p class="content">
                            The University is a member of the Association of Indian Universities (AIU) and Association of Commonwealth Universities (ACU).
                        </p>

                        <div class="float-end" data-aos="fade-up" data-aos-delay="900">
                            <a href="/aboutus/about-university" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div data-aos="fade-up">
    <img src="~/assets/img/sliders/campus-top-view.jpg" class="img-fluid w-100" alt="icfai university hyderabad" loading="lazy" />
</div>
<section class="countSection">
    <div class="container">
        <div class="row counts" id="counts" data-aos="fade-up">
            <div class="col-xl-12 clol-lg-12 col-md-12 col-12">
                <div class="WrapFive">
                    <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="100">
                        <div class="count-box">
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter">5</span>
                                <p>Schools</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="200">
                        <div class="count-box">
                            <div>
                                <div class="d-flex justify-content-center">
                                    <span data-purecounter-start="0" data-purecounter-end="300" data-purecounter-duration="1" class="purecounter">300</span>

                                </div>
                                <p>Faculty Members</p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="400">
                        <div class="count-box">
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="20000" data-purecounter-duration="1" class="purecounter">20000</span>
                                <p> Alumni</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="400">
                        <div class="count-box">
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter">5</span>
                                <p> Disciplines</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-1 p-1" data-aos="fade-up" data-aos-delay="500">
                        <div class="count-box">
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter">35</span>
                                <p> Years in Flexible Learning</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Academic-Search">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="Title-Heading" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title">
                    IFHE's Academic Programs
                </h3>
                <p class="sub-title" data-aos="fade-up" data-aos-delay="200">
                    Five Schools offering Full-time Programs
                </p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="tab-content">
                    <form name="fAcademicPrograms" data-aos="fade-up">
                        <div class="four-wrap">
                            <div class="icfai-div">
                                <label for="Department"> Discipline </label>
                                <select class="form-control" id="selDepartment" name="selDepartment">
                                    <option value="">Select</option>
                                    <option value="Management">Management</option>
                                    <option value="Science and Technology">Science &amp; Technology</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Law">Humanities and Social Sciences</option>
                                </select>
                            </div>
                            <div class="icfai-div" id="divGraduation" name="divGraduation">
                                <label for="Programs"> Graduation Level</label>
                                <select class="form-control" id="selGraduation" name="selGraduation">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="icfai-div" id="divPrograms" name="divPrograms">
                                <label for="University">  IFHE Program(s) </label>
                                <select class="form-control" id="SelPrograms" name="SelPrograms">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="icfai-div boder-none p-0 d-flex float-end"> <a class="cta-btn" href="#" onclick="return redirect();"> Search <i class="bi bi-chevron-right"></i></a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Deapart-Section">
    <div class="container-fluid">
        <div class="row RowCustom">
            <div class="Title-Heading" data-aos="fade-up">
                <h3 class="title">
                    Schools &#64; IFHE, Hyderabad
                </h3>
            </div>
            <div class="wraperbox6" data-aos="fade-up">
                <div class="school_card text-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/university.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title"><a class="text-white" href="/">Faculty of Management</a></h4>
                    <p class="font-size-13 text-white">(Faculty of Management Studies)</p>
                    <div class="d-flex">
                        <a class="text-white me-1" href="#">Hyderabad &nbsp; | </a>
                        <a class="text-white" href="#">Bangalore</a>
                    </div>
                </div>

                <div class="school_card text-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/innovation.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title"><a class="text-white" href="/">IcfaiTech School</a></h4>
                    <p class="font-size-13 text-white">(Faculty of Science & Technology)</p>

                </div>

                <div class="school_card text-center" data-aos="fade-up" data-aos-delay="300">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/balance.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title"><a class="text-white" href="/">ICFAI Law School</a></h4>
                    <p class="font-size-13 text-white">(Faculty of Law)</p>
                    <div class="d-flex">
                        <a class="text-white me-1" href="#">Hyderabad &nbsp; | </a>
                        <a class="text-white" href="#">Bangalore</a>
                    </div>
                </div>

                <div class="school_card text-center">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/architect.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title"><a class="text-white" href="/">ICFAI School of Architecture</a></h4>
                    <p class="font-size-13 text-white">(ISArch)</p>

                </div>

                <div class="school_card text-center" data-aos="fade-up" data-aos-delay="500">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/analytics.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title"><a class="text-white" href="/">ICFAI School of Social Sciences</a></h4>
                    <p class="font-size-13 text-white">(ISoSS)</p>

                </div>

                <div class="school_card text-center" data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center mb-2">
                        <span class="pic-main">
                            <img src="~/assets/svg-icons/online-training.svg" width="40" height="40" class="img-fluid" alt="">
                        </span>
                    </div>
                    <hr />
                    <h4 class="title text-white">
                        Centre for Distance & <br />
                        Online Education (CDOE)  
                    </h4>
                    <div class="d-flex">
                        <a class="text-white me-1" href="#">Online &nbsp; | </a>
                        <a class="text-white" href="#">Distance</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="admiss_section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="sub-title">Admissions Open for 2024</h4>
                        <p class="content">
                            Applicants can apply online by filling up the Application Form and make payment using
                            Credit/Debit Card (Visa/Master Card) or Internet banking option using secure internet payment gateway.
                            Applicants applying online should attach their scanned color photograph along with the Online Application.
                        </p>
                        <div>
                            <a href="/admissions/online-registration" class="ViewBtn">Apply Now <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <div class="carouselPlacemnetsList owl-carousel" data-aos="fade-up">
                    <div class="card">
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/01-Highest-Package.jpg" alt="Highest-Package" class="img-fluid" loading="lazy" />
                        </div>
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/04-Placement-Assistance.jpg" alt="Outstanding-placement" class="img-fluid" loading="lazy" />
                        </div>
                    </div>
                    <div class="card">
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/03-Collaboration-NIO.jpg" alt=".." class="img-fluid" loading="lazy" />
                        </div>
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/07-Outstanding-placement-rate.jpg" alt=".." class="img-fluid" loading="lazy" />
                        </div>
                    </div>
                    <div class="box card">
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/06-35years-flexible-learning.jpg" alt=".." class="img-fluid" loading="lazy" />
                        </div>
                        <div class="box mb-2">
                            <img src="~/assets/img/PlacementsList/05-Highest-Internship.jpg" alt=".." class="img-fluid" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*<div class="Placemnt-Section Recruter-sec">
        <div class="partition-bg-wrap">
            <div class="container" data-aos="fade-up">
                <div class="row y-bottom">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 pb-150 md-pl-15">
                        <div class="sec-title mb-40">
                            <h3 class="title mb-16" data-aos="fade-up">Top Placements</h3>
                            <h4 class="desc" data-aos="fade-up" data-aos-delay="400">
                                Over 4000 students have already
                                got on-campus placements this year.

                            </h4>
                            <p class="content" data-aos="fade-up" data-aos-delay="600">
                                Impeccable track record of achieving <br />
                                exellent placements every year.
                            </p>
                        </div>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                        <h3 class="mb-0">Recruiters@ICFAI Institutions</h3>
                        <div class="Img-set" data-aos="fade-up" data-aos-delay="200">
                            <img src="~/assets/img/Recruiters-Logos.png" width="650" alt="Recruiters" class="img-fluid" loading="lazy" />
                        </div>
                        <div class="float-end" data-aos="fade-up" data-aos-delay="400">
                            <a href="/corporate-relations/career-placements" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@

<section class="Events-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="Title-Heading">
                <h3 class="title">Latest News & Events</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12" data-aos="fade-up" data-aos-delay="200">
                <div class="img-set">
                    <img src="~/assets/img/events-img.jpg" class="img-fluid" alt="Latest News & Events" loading="lazy" />
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                <div class="row align-self-center gy-2 mb-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-2">
                        <div class="feature-box align-items-center">
                            <span class="date-css">
                                March 22 - 23, 2024
                            </span>
                            <p class="title">
                                International Conference on
                                Emerging Technologies,
                                Analytics And Operation
                            </p>
                            <a href="https://www.ifheindia.org/assets/img/icetao.jpg" class="text-danger" target="_blank">View More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-2">
                        <div class="feature-box align-items-center">
                            <span class="date-css">
                                March 15-16, 2024
                            </span>
                            <p class="title">
                                10th IBS Conference on Marketing &amp; Business Strategy
                            </p>
                            <a href="https://www.ifheindia.org/assets/img/icetao.jpg" class="text-danger" target="_blank">View More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-2">
                        <div class="feature-box align-items-center">
                            <span class="date-css">
                                February 29 - March - 01, 2024
                            </span>
                            <p class="title">
                                16th International Conference on Business and Finance
                            </p>
                            <a href="https://www.ifheindia.org/assets/img/icetao.jpg" class="text-danger" target="_blank">View More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-2">
                        <div class="feature-box align-items-center">
                            <span class="date-css">
                                December 27, 2023
                            </span>
                            <p class="title"> Amrit Kaal Vimarsh Vikisit Bharat 2024</p>
                            <a href="https://www.ifheindia.org/assets/img/amrit-kaal-vimarsh-viksit.jpg" class="text-danger" target="_blank">View More</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 mb-2">
                        <div class="feature-box align-items-center">
                            <span class="date-css">
                                November 21, 2023
                            </span>
                            <p class="title"> Award of recognition from NASSCOM</p>
                            <a href="https://www.ifheindia.org/assets/img/NASSCOM-Award-2023.jpg" class="text-danger" target="_blank">View More</a>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="/events" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="Academic-Industry-Section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="img-set" data-aos="fade-up">
                    <img src="~/assets/img/academic-industry.jpg" class="img-fluid" alt="Academic-Industry Collaboration" loading="lazy" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <p class="content" data-aos="fade-up" data-aos-delay="400">Academic-Industry Collaboration</p>
                <h3 class="title" data-aos="fade-up" data-aos-delay="600">
                    Networking with International
                    Academic Institutions
                </h3>
                <div data-aos="fade-up" data-aos-delay="400">
                    <a href="/admissions/international-admissions" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                </div>
                <div class="Academic-Logos mt-3" data-aos="fade-up">
                    <div class="wrapper">
                        <div class="carouselAcademiclogs owl-carousel">
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/Bentley-Logo.png" alt="Bentley-Logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/HKPU-logo.png" alt="HKPU-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/MSU-logo.png" alt="MSU-logo" loading="lazy" />
                            </div>
                            <div class="card">


                                <img src="~/assets/academic-industry-icons/MUS-logo.png" alt="MUS-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/OSU-logo.png" alt="OSU-logo" loading="lazy" />
                            </div>
                            <div class="card">
                                <img src="~/assets/academic-industry-icons/SU-logo.png" alt="SU-logo" loading="lazy" />

                            </div>
                            <div class="card">
                                <img src="~/assets/academic-industry-icons/UMT-logo.png" alt="UMT-logo" loading="lazy" />

                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/UOD-logo.png" alt="UOD-logo" loading="lazy" />
                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/UON-logo.png" alt="UON-logo" loading="lazy" />
                            </div>
                            <div class="card">
                                <img src="~/assets/academic-industry-icons/UOSA-logo.png" alt="UOSA-logo" loading="lazy" />

                            </div>
                            <div class="card">

                                <img src="~/assets/academic-industry-icons/UOT-logo.png" alt="UOT-logo" loading="lazy" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="research-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                <div class="Title-Heading" data-aos="fade-up">
                    <h3 class="title">Research</h3>
                </div>
                <p class="content" data-aos="fade-up">
                    All these case studies are developed for Management,
                    Science and Technology, Social Studies and other related
                    programs and allied disciplines.
                </p>
              <div class="cardImg">
                 <img src="~/assets/img/research-img.jpg" class="img-fluid" loading="lazy" />
              </div>
              
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-12 research_facts">
                <ul>
                    <li>
                        <div class="fact-heading">
                            15000+
                        </div>
                        <div class="fact-des">Books</div>
                    </li>
                    <li>
                        <div class="fact-heading">7000</div>
                        <div class="fact-des">Case Studies</div>
                    </li>
                    <li>
                        <div class="fact-heading">27+ </div>
                        <div class="fact-des">Journals</div>
                    </li>
                </ul>
                <div class="mt-4" data-aos="fade-up" data-aos-delay="600">
                    <a href="/research/publications" class="ViewBtn float-end">View More <i class="bi bi-chevron-right"></i></a>
                </div>
                @*<div class="row align-self-center gy-4">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="count-box" data-aos="fade-up" data-aos-delay="200">
                    <span class="icon">
                        <img src="~/assets/svg-icons/open-book-book-svgrepo-com.svg" alt="Books" loading="lazy" class="img-fluid" />
                    </span>
                    <div class="mr2">
                        <div class="d-flex">
                            <span data-purecounter-start="0" data-purecounter-end="15000" data-purecounter-duration="1" class="purecounter fontSize-32">15000</span> <span class="fontSize-32"> &plus;</span>
                        </div>
                        <p>Books</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12" data-aos="fade-up" data-aos-delay="400">
                <div class="count-box">
                    <span class="icon">
                        <img src="~/assets/svg-icons/three-books-svgrepo-com.svg" alt="Case Studies" loading="lazy" class="img-fluid" />
                    </span>
                    <div class="mr2">
                        <span data-purecounter-start="0" data-purecounter-end="7000" data-purecounter-duration="1" class="purecounter fontSize-32">7000</span>
                        <p>Case Studies</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12" data-aos="fade-up" data-aos-delay="600">
                <div class="count-box">
                    <span class="icon">
                        <img src="~/assets/svg-icons/studies-svgrepo-com.svg" alt="Journals" loading="lazy" class="img-fluid" />
                    </span>
                    <div class="mr2">
                        <div class="d-flex">
                            <span data-purecounter-start="0" data-purecounter-end="27" data-purecounter-duration="1" class="purecounter fontSize-32">27 </span>
                            <span class="fontSize-32"> &plus;</span>
                        </div>
                        <p>Journals</p>
                    </div>
                </div>
            </div>
        </div>*@
            </div>
        </div>
    </div>
</section>

<section class="Leadership-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-12" data-aos="fade-up" data-aos-delay="200">
                <div class="card mt-4">
                    <img src="~/assets/img/Njyasawy.jpg" alt="N. J. Yasaswy" class="img-rounded" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">N. J. Yasaswy</h5>
                        <p class="card-text">(1950 - 2011)</p>
                        <p class="card-text"><em>Founder of the ICFAI Group of educational institutions</em></p>
                        <div class="text-center">
                            <a href="/aboutus/the-icfai-group" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-12 mt-5 pt-5">
                <div class="Title-Heading mt-2 pt-1" data-aos="fade-up" data-aos-delay="400">
                    <h3 class="title">Our Leadership</h3>
                </div>
                <div class="carouselLeaderShip owl-carousel">
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/Rangarajan.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Dr. C. Rangarajan" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Dr. C. Rangarajan
                                    </h3>
                                    <p class="sub-title">  Chancellor</p>
                                </div>
                            </div>
                            @*<p class="content">
                                Dr. C. Rangarajan was appointed  as the Chancellor of IFHE on November 2, 2015. He is a leading economist of India who has played a key role both as an academic and as a policy maker. He has held several important positions and has served as both the Governor of the RBI and as the Governor of AP.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/chancellor" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/LSGanesh.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Prof. LS Ganesh" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof. LS Ganesh
                                    </h3>
                                    <p class="sub-title"> VC, IFHE Hyderabad </p>
                                </div>
                            </div>
                            @*<p class="content">
                                It is with great pleasure that I welcome you to the ICFAI Foundation for Higher Education (IFHE) a deemed-to-be-University established under section 3 of the UGC Act, 1956. It has evolved a comprehensive student centric learning approach consisting of several stages.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/message-vc" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/VenuGopalRaoKS.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt=" Prof. Venu Gopal Rao K S" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof. Venu Gopal Rao K S
                                    </h3>
                                    <p class="sub-title"> Director, ICFAI Business School </p>
                                </div>
                            </div>
                            @*<p class="content">
                                Welcome to ICFAI Business School (IBS) Hyderabad, a constituent of the ICFAI Foundation for Higher Education (IFHE), a deemed-to-be University u/s 3 of the UGC Act 1956. IBS Hyderabad is one of the top business schools in India.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/ibs-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/SindhujaPN.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Prof. (Dr.) Sindhuja P N" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof. (Dr.) Sindhuja P N
                                    </h3>
                                    <p class="sub-title"> Dean, ICFAI Business School </p>
                                </div>
                            </div>
                            @*<p class="content">
                                A warm welcome to ICFAI Business School (IBS) Hyderabad, one of the top business schools in India. IBS is a constituent of ICFAI Foundation for Higher Education (IFHE), a deemed to be University graded A++ by the National Assessment and Accreditation Council (NAAC) in 2022.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/ibs-dean" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/KLNarayan.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Dr. K. L. Narayan" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Dr. K. L. Narayan
                                    </h3>
                                    <p class="sub-title"> Director, IcfaiTech </p>
                                </div>
                            </div>
                            @*<p class="content">
                                IcfaiTech (Faculty of Science & Technology) is a constituent of the ICFAI Foundation for Higher Education (IFHE). IcfaiTech aims at nurturing graduates and researchers who will become critical thinkers and innovators with holistic education experience.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/IcfaiTech-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/KLNarayan.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Prof (Dr.) A.V. Narsimha Rao" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof (Dr.) A.V. Narsimha Rao
                                    </h3>
                                    <p class="sub-title"> Director,The ICFAI Law School </p>
                                </div>
                            </div>
                            @*<p class="content">
                                The ICFAI Law School, Hyderabad a constituent of ICFAI Foundation for Higher Education, since its inception has an agenda of imparting quality legal education and shape the legal professionals with excellence to cater to the needs of various constituents of the society.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/fol-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/MunavarPashaMohammad.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt=" Prof. Ar. Munavar Pasha Mohammad" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof. Ar. Munavar Pasha Mohammad
                                    </h3>
                                    <p class="sub-title"> Principal, ICFAI School of Architecture </p>
                                </div>
                            </div>
                            @*<p class="content">
                                ICFAI School of Architecture (ISArch) was established in 2018 as aSchool of Excellence by The ICFAIFoundation for Higher Education IFHE,A Deemed to be University underSection 3 of UGC Act 1956. with a NAAC Accreditation of A++ Grade.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/isarch-principal" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/MassimoVianello.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt=" Dr. Ar. Massimo Vianello" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Dr. Ar. Massimo Vianello
                                    </h3>
                                    <p class="sub-title"> Advisor and Professor, ICFAI School of Architecture </p>
                                </div>
                            </div>
                            @*<p class="content">
                                The aim of ISArch is to promote true education for new generations of architects able to challenge the complexity of future scenarios, to become leading actors in the improvement of cities, towns and villages shaped by ethical values.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/isarch-professor" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/CSShylajan.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt=" Prof (Dr) C S Shylajan" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof (Dr) C S Shylajan
                                    </h3>
                                    <p class="sub-title"> Director,  ICFAI School of Social Sciences </p>
                                </div>
                            </div>
                            @*<p class="content">
                                Presently, in India, there is a need for a top-quality, new-generation institute to develop young talent to deal with contemporary social, political, economic and public policy issues by using interdisciplinary perspectives.
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/isoss-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card cardTop">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <img src="~/assets/img/leadership/TammaKotiReddy.jpg" class="img-rounded" width="100" height="100" loading="lazy" alt="Prof (Dr) Tamma Koti Reddy" />
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h3 class="title">
                                        Prof (Dr) Tamma Koti Reddy
                                    </h3>
                                    <p class="sub-title"> Dean, ICFAI School of Social Sciences </p>
                                </div>
                            </div>
                            @*<p class="content">
                                It is my pleasure to welcome you to the ICFAI School of Social Sciences at the ICFAI Foundation for Higher Education. The ICFAI School of Social Sciences has emerged from the esteemed Department of Economics of IBS Hyderabad. 
                            </p>*@

                            <div class="float-end">
                                <a href="/aboutus/isoss-director" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="whyifhe-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="Title-Heading">
                <h3 class="title"> Why Choose <br /> IFHE Hyderabad?</h3>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-12 ifhe_globe">
                <a target="_blank" href="https://www.ifheindia.org/Virtual-Campus-Tour/" rel="noreferrer" class="play_btn float-end" title="Campus Virtual Tour">
                    <i class="bi bi-play-fill"></i>
                </a>
            </div>
          
          

            <div class="col-xl-12 col-lg-12 col-md-12 col-12 mx-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="accordion accordion-flush" id="faqlist1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1" aria-expanded="false">
                                Contemporary Curriculum
                            </button>
                        </h2>
                        <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Integrated and broad-based curriculum with emphasis on inter-disciplinary approach</li>
                                    <li>Choice-based credit system is in practice.</li>
                                    <li>Curriculum is updated periodically to meet the requirements of Industry and academia.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2" aria-expanded="false">
                                Learner-Centric Pedagogy
                            </button>
                        </h2>
                        <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Pedagogy followed is highly student-centric</li>
                                    <li>Designed to create an enhanced learning experience</li>
                                    <li>Equal emphasis on concepts and applications</li>
                                    <li>Lectures, case studies, business games </li>
                                    <li>Projects, student clubs, and summer internship program</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3" aria-expanded="false">
                                Accreditations & Rankings
                            </button>
                        </h2>
                        <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Accredited with A++ Grade, by NAAC</li>
                                    <li>Accredited for its regular MBA Program of IBS Hyderabad by AACSB.</li>
                                    <li>Accredited by SAQS, AMDISA</li>
                                    <li>#25 on Overall basis for its MBA Program, NIRF Rankings 2020</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4" aria-expanded="false">
                                World Class Academic Infrastructure
                            </button>
                        </h2>
                        <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>17.58 acre lush green sylvan fully-residential campus</li>
                                    <li>World-class lecture theatres, classrooms, seminar halls, auditoriums</li>
                                    <li>State-of-the-art IT infrastructure</li>
                                    <li>NJY Memorial Library with Indian and International journals</li>
                                    <li>Health Centre, Sports facilities and recreational facilities.</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5" aria-expanded="false">
                                Industry Partnerships
                            </button>
                        </h2>
                        <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Accreditations and Collaborations from National &amp; International Agencies/Institutions</li>
                                    <li>Memberships in Professional bodies</li>
                                    <li>Students receive international quality learning experience</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6" aria-expanded="false">
                                Holistic Personality Development
                            </button>
                        </h2>
                        <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Cultivation of Intellect</li>
                                    <li>Insights with Real life situations</li>
                                    <li>Enhance Soft skills</li>
                                    <li>Student Clubs for extra-curricular & co-curricular activities</li>
                                    <li>Imbibing moral values</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-7" aria-expanded="false">
                                Campus Placements
                            </button>
                        </h2>
                        <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist1" style="">
                            <div class="accordion-body">
                                <ul>
                                    <li>Strong relationships with leading Recruiters</li>
                                    <li>teady increase in the compensation Year on Year</li>
                                    <li>Leading Companies recruit at the campus</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        
        </div>
    </div>
</section>


<section class="Alumni-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="Title-Heading" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="title">Alumni Society</h3>
                </div>
                <p class="content" data-aos="fade-up" data-aos-delay="400">
                    Alumni Federation gives you access to a vast network of
                    professionals and offers you endless opportunities to
                    connect, built relationships, participates and continue to learn from the IFHE
                    community
                </p>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="/alumni" class="ViewBtn">View More <i class="bi bi-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-12" data-aos="fade-up" data-aos-delay="700">
                <div class="wrapper">
                    <div class="carouselAumni owl-carousel">
                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/assets/img/alumni-profiles/sanyam-bhatia.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="Mr. Sanyam Bhatia" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Mr. Sanyam Bhatia</h3>
                                        <p class="sub-title">
                                            Assistant Vice President.
                                            Copal Amba
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    It feels good to be on the other side of the table - looking forward for a better career ahead - for my career the applause should go to my Alma Mater IBS, whose support and guidance led me through my way and today, I confidently stand up and throw challenges in this corporate world.
                                </p>

                            </div>
                        </div>

                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/assets/img/alumni-profiles/Dharmesh.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="RPVadhera" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Mr. Dharmesh Singh</h3>
                                        <p class="sub-title">
                                            Entrepreneur,
                                            Ahex Technologies, Hyderabad
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    The journey at IcfaiTech has been a memorable one. We had a wonderful faculty, great peers and an enthusiastic environment to grow.
                                </p>

                            </div>
                        </div>
                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/assets/img/alumni-profiles/Shubham.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="RPVadhera" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Mr. Shubham</h3>
                                        <p class="sub-title">
                                            Software Engineer
                                            Capgemini Solutions
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    Hands-on skills acquired through Summer Internships and the mock-interviews gave me the confidence to succeed in the competitive selection process of my company.
                                </p>
                            </div>
                        </div>

                        <div class="card cardTop">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 icon">
                                        <img src="~/assets/img/alumni-profiles/Chowdhury.jpg" class="img-rounded" width="60" height="60" loading="lazy" alt="RPVadhera" />
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3 class="title">Mr. Amit Chowdhury</h3>
                                        <p class="sub-title">
                                            Advocate,
                                            High Court at Calcutta
                                        </p>
                                    </div>
                                </div>
                                <p class="content">
                                    The journey at IcfaiTech has been a memorable one. We had a wonderful faculty, great peers and an enthusiastic environment to grow.
                                </p>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Campus-Section">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="Title-Heading" data-aos="fade-up" data-aos-delay="100">
                <h3 class="title"> Campus Life  &#64; ICFAI Mizoram</h3>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/dining.jpg" alt="Dining Hall" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Dining Hall</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/sports.jpg" alt="Sports" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Sports</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="400">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/health.jpg" alt="Health and Fitness" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Health and Fitness</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="500">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/events.jpg" alt="Cultural Events" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Cultural Events</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="600">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/classroom.jpg" alt="Class Room" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Class Room</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2" data-aos="fade-up" data-aos-delay="700">
                <div class="card">
                    <img src="~/assets/img/campuslifeImg/library.jpg" alt="Library" class="card-img-top" loading="lazy" />
                    <div class="card-body">
                        <h5 class="card-title">Library</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    